{{ $testimonials := (where $.Site.RegularPages "Section" "testimonials") }}

<style type="text/css">
.testimonial-content {
  text-align: left;
  margin-top: 20px;
  font-size: 0.8em;
  line-height: 1.5em;
}

@media screen and (min-width: 737px) {
  .gallery .from-left {
    padding-right: 1em;
  }

  .gallery .from-right {
    padding-left: 1em;
  }
}

.gallery article {
  padding-bottom: 2em;
}

.gallery h3 {
  width: 100%;
}

.gallery .image img {
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
</style>

<div class="gallery">
  {{ $rangeSize := 10000 }}
  {{ if eq (relURL .URL) ("/" | safeHTML) }}
  {{ $rangeSize = 2 }}
  {{ end }}
  {{ range $i, $v := first $rangeSize $testimonials }}
    <article class="from-{{ if (modBool $i 2) }}left{{ else }}right{{ end }}">
      {{ if $v.Params.image }}
      <p class="image fit"><img src="{{ $.Site.Params.mediaBaseURL }}{{ $v.Params.image }}" title="{{ $v.Title }}" alt="{{ $v.Title }}" loading="lazy" /></p>
      {{ end }}

      <div class="testimonial-content">
        {{ $v.Content }}
      </div>
    </article>
  {{ end }}
</div>

{{ if eq (relURL .URL) ("/" | safeHTML) }}
<h3><a href="/testimonials/">More student testimonials</a></h3>
{{ end }}
